
@{
    ViewBag.Title = "Tables";
}

<h2>Tables</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        Язык
                    </th>
                    <th>
                        Процент
                    </th>
                </tr>
                <tr><td>C</td><td>17.5%</td></tr>
                <tr><td>Java</td><td>16.4%</td></tr>
                <tr><td>Objective-C</td><td>12.1%</td></tr>
                <tr><td>C++</td><td>6.3%</td></tr>
                <tr><td>C#</td><td>5.6%</td></tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>
                        Язык
                    </th>
                    <th>
                        Процент
                    </th>
                </tr>
                <tr><td>C</td><td>17.5%</td></tr>
                <tr><td>Java</td><td>16.4%</td></tr>
                <tr><td>Objective-C</td><td>12.1%</td></tr>
                <tr><td>C++</td><td>6.3%</td></tr>
                <tr><td>C#</td><td>5.6%</td></tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>
                        Язык
                    </th>
                    <th>
                        Процент
                    </th>
                </tr>
                <tr><td>C</td><td>17.5%</td></tr>
                <tr><td>Java</td><td>16.4%</td></tr>
                <tr><td>Objective-C</td><td>12.1%</td></tr>
                <tr><td>C++</td><td>6.3%</td></tr>
                <tr><td>C#</td><td>5.6%</td></tr>
            </tbody>
        </table>
    </div>
</div>